/* News block */
.news-block {
    float: left;
    width: 55%;
    height: 450px;
    max-height: 450px;
    margin-left: 1%;
    margin-top: 2%;
    background-color: whitesmoke;
}

.news-control {
    width: 100%;
    height: 50px;
    padding-top: 1%;
    padding-left: 1%;
    background-color: white;
    border: 1px solid #ddd;
}

.news-data {
    overflow-y: auto;
    height: 400px;
    max-height: 400px;
    margin-left: 15%;
}

.news-data-block {
    width: 80%;
    height: auto;
    margin-top: 1%;
    margin-left: 2%;
    background-color: white;
    border: 1px solid #ddd;
}

.news-head {
    width: 100%;
    height: 50px;
    padding: 1%;
    border-bottom: 1px solid #ddd;
}

.news-body {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    min-height: 200px;
    max-height: 250px;
    padding: 1%;
    border-bottom: 1px solid #ddd;
}

.news-footer {
    width: 100%;
    height: 50px;
    padding: 1%;
}

/*Calculator block */

.calculator-block {
    float: left;
    width: 35%;
    height: 200px;
    margin-left: 5%;
    margin-top: 2%;
    /*background-color: white;*/
    /*border: 1px solid #ddd;*/
}

.calculator-data {
    width: 100%;
    padding-top: 2%;
}

.price-calculator-block {
    width: 100%;
    height: 80px;
}

.price-calculator-input {
    float: left;
    width: 88%;
}

.price-calculator-input-btn{
    float: left;
    width: 4%;
    margin-left: 2%;
}
/* btn */

.btn-save, .btn-save:visited {
    font-weight: bold;
    color: black;
    background-color: rgba(68, 189, 50, 0.8);
    border-radius: 0;
}

.btn-save:hover {
    color: white;
    background-color: rgba(0, 148, 50, 1);
}

.btn-save:active, .btn-save:focus {
    color: black;
    background-color: white;
    outline: #4cae4c solid 1px;
    border: #4cae4c solid 1px;
}

.btn-pause, .btn-pause:visited {
    font-weight: bold;
    color: black;
    background-color: rgba(241, 196, 15, 0.8);
    border-radius: 0;
}

.btn-pause:hover {
    color: white;
    background-color: rgba(241, 196, 15,1.0);
}

.btn-pause:active, .btn-pause:focus {
    color: black;
    background-color: white;
    outline: orange solid 1px;
    border: orange solid 1px;
}

.btn-canceled, .btn-canceled:visited {
    font-weight: bold;
    color: black;
    background-color: rgba(231, 76, 60, 0.8);
    border-radius: 0;
}

.btn-canceled:hover {
    color: white;
    background-color: rgba(231, 76, 60,1.0);
}

.btn-canceled:active, .btn-canceled:focus {
    color: black;
    background-color: white;
    outline: #9e0505 solid 1px;
    border: #9e0505 solid 1px;
}

.btn-create {
    color: whitesmoke;
    font-family: Consolas, fantasy;
    background-color: rgba(52, 152, 219,1.0);
    border-radius: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}

.btn-create:hover {
    color: white;
    font-weight: bolder;
    background-color: rgba(41, 128, 185,1.0);
}

.btn-update {
    color: white;
    font-family: Consolas, fantasy;
    background-color: rgba(10, 189, 227, 0.5);
    border-radius: 0;
}

.btn-update:hover {
    color: white;
    font-weight: bolder;
    background-color: rgba(10, 189, 227, 0.8);
}

.link-detected,
.link-detected:hover,
.link-detected:active,
.link-detected:visited {
    display: inline-block;
    text-decoration: none;
}