.customer-form {
    width: inherit;
}

.title-customer {
    margin-left: 7.5%;
}

.customer-label {
    font-size: 1.2em;
    font-family: Georgia, fantasy;
    font-weight: 500;
}

.customer-block {
    float: left;
    width: 46%;
}

.customer-search {
    float: left;
    width: 2%;
    margin-right: 5%;
    padding-top: 11.3%;
}

.full-name-block {
    width: 90%;
    height: auto;
    margin-left: 15%;
    margin-top: 1%;
}

.customer-elem {
    float: left;
    width: 27%;
    margin-left: 2%;
}

.customer-info {
    width: 78%;
    padding-left: 1.5%;
    margin-left: 15%;
    padding-top: 2%;
}

.customer-form-btn {
    margin-top: 1%;
    margin-left: 17%;
}

.customer-order {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: #a6a6a6 dashed 1px;
}

.customer-order-title {
    width: inherit;
    font-size: 18px;
    text-align: center;
}

.price-order-block {
    width: inherit;
    height: 80px;
}

.price-order-input {
    float: left;
    width: 88%;
}

.price-order-input-btn{
    float: left;
    width: 4%;
    margin-top: 4.8%;
    margin-left: 4%;
}

.order-history {
    overflow: auto;
    width: 100%;
    height: 300px;
    max-height: 305px;
}

.order-data-history {
    width: inherit;
    overflow: hidden;
    margin-top: 2%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    font-family: 'Varela Round', arial, fantasy;
    /*background-color: rgba(166, 166, 166, 0.2);*/
    background-color: rgba(196, 229, 56, 0.5);
}

.order-history-info {
    width: 90%;
    float: left;
}

.order-history-control {
    width: 10%;
    float: left;
}

.customer-history-control {
    width: 100%;
    height: 80px;
    padding-top: 1%;
    padding-left: 2%;
    color: white;
    font-family: Consolas, fantasy;
    background-color: rgba(106, 176, 76,1.0);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}

.btn-add-order {
    font-weight: bold;
    color: black;
    /*background-color: rgba(0, 148, 50, 0.6);*/
    background-color: rgba(255, 242, 0, 0.8);
    border-radius: 0;
}

.btn-add-order:hover {
    color: #0d3349;
    /*background-color: rgba(0, 148, 50, 1);*/
    background-color: rgba(255, 242, 0, 1);
}

.btn-control, .btn-control:visited {
    font-weight: bold;
    color: white;
    background-color: rgba(0, 148, 50, 0.7);
    border-radius: 0;
    margin-bottom: 5%;
}

.btn-control:hover {
    color: rgba(0, 148, 50, 0.7);
    background-color: white;
    border: #4cae4c solid 1px;
}

.btn-control:active, .btn-control:focus {
    color: rgba(0, 148, 50, 0.7);
    background-color: rgba(186, 220, 88, 0.7);
    outline: #4cae4c solid 1px;
}

.badge-order-success {
    font-size: 1.2em;
    background-color: rgba(76, 209, 55,1.0);
}

.badge-order-wait {
    font-size: 1.0em;
    background-color: #0b58a2;
}

.badge-order-warning {
    font-size: 1.2em;
    background-color: orange;
}

.badge-order-canceled {
    font-size: 1.0em;
    background-color: #9e0505;
}

/* view order success */

.order-info-block {
    overflow: hidden;
    width: 70%;
    margin: 3% auto;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 2%;
    background-color: rgba(106, 176, 76,1.0);
}

.order-info-header {
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    padding-left: 2%;
}

.order-info-column {
    clear: both;
    margin-top: 1%;
    border-top: rgba(0, 0, 0, 0.5) solid 1px;
    border-bottom: rgba(0, 0, 0, 0.5) solid 1px;
}

.order-info-col, .order-info-col-th {
    float: left;
    width: 50%;
    color: white;
    font-size: 1.3em;
    font-family: Consolas, fantasy;
}

.order-info-col {
    padding-left: 1%;
}

.order-info-col-th {
    /*border-right: rgba(0, 0, 0, 0.5) solid 2px;*/
}

.order-info-table {
    width: 100%;
}

.order-info-footer {
    clear: both;
    font-size: 1.4em;
}