.customer-view {
    width: 100%;
    overflow: hidden;
    margin: auto auto;
}

.customer-view-block {
    position: fixed;
    float: left;
    width: 40%;
    overflow: hidden;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
    color: white;
    font-family: Consolas, fantasy;
    z-index: 1000;
}

.customer-view-info,
.customer-view-control {
    overflow: hidden;
    width: 100%;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
    background-color: rgba(106, 176, 76,1.0);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}

.customer-view-control {
    margin-top: 2%;
    background-color: rgba(106, 176, 76, 0.9);
}

.customer-view-history {
    overflow: hidden;
    float: right;
    width: 50%;
}

.customer-view-table {
    width: 100%;
}

.customer-view-question {
    color: white;
}

.customer-view-question:hover,
.customer-view-question:focus {
    cursor: pointer;
    color: black;
}