body {
    background: #f5f5f5;
    padding: 0;
    margin: 0;
}
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: #0164a9;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
}
.logo {
    text-transform: uppercase;
    letter-spacing: 1px;
}
header > i {
    display: inline-block;
    margin: 0 5px;
    background-color: #2b669a;
}
#menu-action {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    line-height: 50px;
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
}
.sidebar {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 50px;
    height: 100%;
    width: 60px;
    background: #fff;
    border-right: 1px solid #ddd;
    text-align: center;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    display: block;
}
.menu-a {
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    color: #444;
    text-align: left;
}
.menu-a:hover {
    background-color: #dcdde1;
}
i {
    display: inline-block;
    width: 60px;
    height: 40px;
    line-height: 60px;
    text-align: center;
    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    -o-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.menu-name {
    float: left;
    width: 130px;
    font-size: 18px;
    color: white;
    margin-left: 0.5%;
    font-family: Consolas, fantasy;
}

.menu-name:hover, .menu-name:link, .menu-name:visited {
    text-decoration: none;
    color: white;
}

.menu-name-a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
}

.bell {
    float: left;
    font-size: 22px;
    margin-left: 4%;
}

.nav-search {
    float: left;
    margin-left: 3%;
}

.nav-search-input {
    margin-top: 7%;
}

.btn-nav-search {
    background-color: rgba(0, 151, 230, 0.6);
}

.btn-nav-search:hover, .btn-nav-search:active {
    color: white;
    background-color: rgba(0, 151, 230, 1);
}

.menu-user {
    float: right;
    font-size: 22px;
    margin-right: 2%;
}

.menu-user:hover, .menu-user:focus {
    color: #dcdde1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    background-color: #fff;
    width: 220px;
    font-size: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    right: 0;
    z-index: 1;
}

.dropdown-content > ul > li > a {
    color: black;
    text-decoration: none;
}

.dropdown-content > ul > li {
    width: 100%;
    padding: 6px 8px;
    text-align: center;
}

.dropdown-content > ul > li:hover {
    background-color: #dcdde1;
}

/*.dropdown:hover .dropdown-content {*/
    /*display: block;*/
/*}*/