.search-list {
    width: 100%;
    overflow: hidden;
    margin-left: 12%;
    margin-top: 3%;
}

.customer-search-block {
    float: left;
    width: 35%;
    overflow: hidden;
    min-height: 100px;
    margin-left: 2%;
    margin-top: 2%;
    color: black;
    padding-left: 1%;
    /*background-color: rgba(52, 152, 219,1.0);*/
    background-color: rgba(186, 220, 88, 0.7);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}

.customer-search-info {
    width: 70%;
    float: left;
    font-size: 1.1em;
    padding-top: 1%;
    font-family: Courier, monospace;
}

.customer-search-btn {
    float: left;
    width: 29%;
    overflow: hidden;
    min-height: 100px;
    margin-left: 1%;
    padding-top: 10%;
    padding-left: 5%;
    color: black;
    background-color: rgba(106, 176, 76, 0.7);
    font-size: 1.2em;
    font-weight: bolder;
    box-shadow:
            0 2px 4px rgba(0, 0, 0, .3),
            -23px 0 20px -23px rgba(0, 0, 0, .8),
            23px 0 20px -23px rgba(0, 0, 0, .8),
            0 0 40px rgba(0, 0, 0, .1) inset;
}

.customer-search-btn:hover {
    background-color: rgba(106, 176, 76,1.0);
}