.side-block-pages, .side-block-tables {
    display: none;
    position: fixed;
    z-index: 100000;
    left: 60px;
    top: 50px;
    height: 100%;
    /*height: 83.2%;*/
    width: 300px;
    background: #fff;
    border-right: 1px solid #ddd;
    padding-left: 3px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.side-bl-tx {
    text-align: center;
    font-family: Consolas, fantasy;
    font-size: 22px;
}

.side-item {
    margin-left: 5px;
    margin-top: 5px;
    width: 95%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    border: black dashed 1px;
}

.side-item-a {
    color: black;
}

.side-item:hover, .side-item-a:hover, .side-item-a:link, .side-item-a:active, .side-item-a:visited {
    color: black;
    text-decoration: none;
    background-color: #ddd;
}