@-webkit-keyframes drag {
    from {
        -webkit-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    15% {
        -webkit-transform: rotateZ(50deg);
        -ms-transform: rotateZ(50deg);
        transform: rotateZ(50deg);
    }
    30% {
        -webkit-transform: rotateZ(-50deg);
        -ms-transform: rotateZ(-50deg);
        transform: rotateZ(-50deg);
    }
    50% {
        -webkit-transform: rotateZ(50deg);
        -ms-transform: rotateZ(50deg);
        transform: rotateZ(50deg);
    }
    65% {
        -webkit-transform: rotateZ(-50deg);
        -ms-transform: rotateZ(-50deg);
        transform: rotateZ(-50deg);
    }
    80% {
        -webkit-transform: rotateZ(20deg);
        -ms-transform: rotateZ(20deg);
        transform: rotateZ(20deg);
    }
    to {
        -webkit-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}
@keyframes drag {
    from {
        -webkit-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    15% {
        -webkit-transform: rotateZ(50deg);
        -ms-transform: rotateZ(50deg);
        transform: rotateZ(50deg);
    }
    30% {
        -webkit-transform: rotateZ(-50deg);
        -ms-transform: rotateZ(-50deg);
        transform: rotateZ(-50deg);
    }
    50% {
        -webkit-transform: rotateZ(50deg);
        -ms-transform: rotateZ(50deg);
        transform: rotateZ(50deg);
    }
    65% {
        -webkit-transform: rotateZ(-50deg);
        -ms-transform: rotateZ(-50deg);
        transform: rotateZ(-50deg);
    }
    80% {
        -webkit-transform: rotateZ(20deg);
        -ms-transform: rotateZ(20deg);
        transform: rotateZ(20deg);
    }
    to {
        -webkit-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}
.button-feedback:hover, .button-feedback:active, .button-feedback:focus {
    text-decoration: none;
}
.button-feedback {
    text-decoration: none;
    position: fixed;
    display: block;
    right: 2%;
    bottom: 9%;
    width: 7rem;
    height: 7rem;
    font-size: xx-large;
    background: #ffde00;
    border-radius: 50%;
    box-shadow: 0 0 0 0.5rem #5400a8;
}
.drag {
    animation: drag 1s ease-in-out infinite;
}
.button-feedback > i {
    padding: 0;
    /*background: yellow;*/
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    top: calc(50% - 25%); /*(100%-50%) - высота/2*/
    left: calc(50% - 25%);
    color: #5400a8;
    text-align: center;
}
.hide-alert {
    display: none;
}
.feedback-tabs {

}