.footer {
    display: block;
    background-color: rgba(4, 0, 189, 0.30);
    border-top: 1px solid #000000;
    /*padding: 3rem 0 0 0;*/
    /*min-height: 25%;*/
}
.footer-down {
    color: #FFFFFF;
    background-color: #0164a9;
    padding: 1%;
    margin: 0;
    /*border-bottom: 2px solid #000000;*/
}
.footer-content {
    padding: 3%;
}
.center-div {
    text-align: center;
}
.icons {
    display: block;
}
.icons > a{
    display: inline-block;
}
.icons > a > img{
    margin: auto;
}
.title {
    padding: 0 0 10px 0;
}
.info {
    display: inline-block;
}
.info > ul {
    padding: 0;
    margin: auto;
}
.info > ul > li {
    list-style: none;
    text-align: left;
}