.button-up {
    position: fixed;
    display: none;
    left: 3rem;
    bottom: 10rem;
    /*width: 32rem;*/
    width: 20%;
    height: 5rem;
    background-color: rgba(1, 87, 155, 0.2);
    color: rgba(30, 136, 229,1.0);
    font-size: 40px;
    text-align: center;
    z-index: 10000;
    transition: background-color 1s;
}

.button-up:hover {
    background-color: rgba(1, 87, 155, 0.5);
}
/*.button-up {*/
    /*position: fixed;*/
    /*display: none;*/
    /*left: 3rem;*/
    /*bottom: 10rem;*/
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
    /*border: 0.3rem solid black;*/
    /*!*width: 32rem;*!*/
    /*width: 8rem;*/
    /*height: 8rem;*/
    /*background-color: rgba(1, 87, 155, 0.2);*/
    /*color: rgba(30, 136, 229, 1.0);*/
    /*font-size: 5rem;*/
    /*text-align: center;*/
    /*z-index: 10000;*/
    /*transition: background-color 1s;*/
    /*!*transition: border 0.3s;*!*/
/*}*/
/*.button-up:hover {*/
    /*background-color: rgba(1, 87, 155, 0.5);*/
    /*!*border: 0.1rem solid red;*!*/
/*}*/
.button-up > span::before { /*IE8 not work*/
    vertical-align: middle;
}